{% extends "base.html" %}

{% block title %}{{ app_title }} Calculator Dashboard{% endblock %}

{% block extra_head %}
<style>
    .card {
        transition: transform 0.2s;
        border: none;
        border-radius: 10px;
        overflow: hidden;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
    }

    .card a {
        color: #333;
        display: block;
        height: 100%;
    }

    .card a:hover {
        background: #10b981;
        /* Emerald-500 */
        color: #ffffff;
        text-decoration: none;
    }

    .card-body {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>


{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4 text-center">{{ app_title }}</h2>

    <div class="row g-3">
        {% for link in links %}
        {% if not forloop.first %}
        <div class="col-md-3">
            <div class="card shadow h-100">
                <a href="{{ link.url }}" class="text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ link.title }}</h5>
                    </div>
                </a>

            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block extra_js %}


{% endblock %}