{% extends "base.html" %}

{% block title %}{{ app_title }} Calculator Dashboard{% endblock %}

{% block extra_head %}
<style>
    .card a{
        color: #000;
    }
    
    .card a:hover {
        background: #007bff;
        color: #ffffff;
    }
</style>


{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4 text-center">{{ app_title }}</h2>

    <div class="row g-3">
        {% for link in links %}
        {% if not forloop.first %}
        <div class="col-md-3">
            <div class="card shadow h-100">
                <a href="{{ link.url }}" class="text-decoration-none"> 
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ link.title }}</h5>
                    </div>
                </a>
                
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block extra_js %}


{% endblock %}
